
*.xcuserstate

*.xcbkptlist

BikeZen/getimgs.py

BikeZen/Images/bikepointer.xcf

*.xcscheme

#DockSmart.xcodeproj/xcuserdata/jpenning.xcuserdatad/xcschemes/xcschememanagement.plist
xcuserdata

*.xccheckout

*.xcexplist

licenses

#GIMP files for creating icons
*.xcf
#Old files, icons, etc
OldResources/*

